{
  "parser": "@typescript-eslint/parser",
  "rules": {
    "strict": "error",
    "complexity": ["error", 5],
    "max-nested-callbacks": ["error", 3],
    "max-params": ["error", 4],
    "max-depth": ["error", 3],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreStrings": true,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "require-await": "error",
    "no-func-assign": "error",
    "object-shorthand": [
      "error",
      "methods",
      { "avoidExplicitReturnArrows": false }
    ],
    "object-curly-spacing": ["error", "always"],
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "no-useless-return": "error",
    "no-else-return": "error",
    "no-return-await": "error",
    "no-var": "error",
    "import/no-duplicates": "error",
    "import/extensions": [
      "error",
      "never",
      {
        ".json": "always"
      }
    ],
    "jest/no-disabled-tests": "error",
    "prettier/prettier": ["error", {
      "trailingComma": "es5",
      "printWidth": 80
    }]
  },
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": ["prettier/@typescript-eslint", "jest", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "eslint:recommended",
    "plugin:jest/recommended",
    "prettier"
  ]
}
